html{
    margin: 0;
    padding: 0;
}
body{
    margin: 0;
    padding: 0;
}

.heading-4{
    opacity: 0.8;
    font-weight: 700;
}


#mainNavbar {
    font-size: 1.5rem;
    font-weight: 100;
}
  
#mainNavbar .nav-link {
color: rgba(255,60,77,1);
}

#mainNavbar .nav-link:hover {
color: rgba(255,60,77,1);
font-weight: 500;
}

#mainNavbar .nav-link-scrolled {
color: white;
}

#mainNavbar .nav-link-scrolled:hover {
color: white;
font-weight: 500;
}

#mainNavbar .navbar-brand {
background: linear-gradient(#FFC371, rgba(255,60,77,1));
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
font-size: 1.5rem;
font-weight: 700;
}

#mainNavbar .brand-name-scrolled{
    background: linear-gradient(white, white);
    -webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}

.navbar.scrolled {
    /* color: white; */
    background: linear-gradient(to left,#FFC371, rgba(255,60,77,1));
}

.data-head{
    color: grey;
}

.dataset-button{
    font-size: 1.5rem;
	background: none;
	border: 2px solid;
  	border-image-slice: 1;
  	border-width: 2px;
	border-image-source:  linear-gradient(to bottom,#FFC371, rgba(255,60,77,0.35));
	color: #FFC371;
}

.dataset-button:focus{
	outline: none;
}

.dataset-button:hover{
	background-image: linear-gradient(to bottom,#FFC371, rgba(255,60,77,0.35));
	color: white;
}

.main-content{
    margin-top: 70px;
    margin-left: 10px;
    margin-right: 10px;
}

.card{
    height: 200px;
    border-radius: 5px;
    box-shadow: 0px 14px 20px -5px rgba(218,228,240,1);
    padding: 30px;
    position: relative;
    margin-bottom: 30px;
}

.head{
    font-weight: 800;
    font-size: large;
    margin-bottom: 5px;
}

.content{
    font-weight: 300;
    font-size: medium;
    /* color: hsl(229, 6%, 66%); */
    margin-bottom: 10px;
}

.image{
    display: inline-block;
    height:100%;
    float: right;
    position: absolute;
    left: 70%;
    top: 60%;
}

/* for the drop-down and its content */
.dropdown-container{
    text-align: center;
}
#drpdwnCont{
    padding-left: 25%;
    /* text-align: center; */
}

#drpdwnCont1{
    padding-left: 20%;
    /* text-align: center; */
}

#drpdwnCont2{
    padding-left: 10%;
    /* text-align: center; */
}

#drpdwnCont11{
    margin-left: 0%;
    /* max-width: 100px; */
}

#drpdwnCont11{
    margin-left: 20%;
    /* max-width: 100px; */
}

#stateSel1{
    background-color: rgba(49,118,177,0.3);
}

#stateSel2{
    background-color: rgba(232,168,76,0.3);
}

#facilitySel1{
    max-width: 400px;
    background-color: rgba(247,92,30,0.3);
}

#facilitySel2{
    max-width: 400px;
    background-color: rgba(232,150,15,0.3);
}

.mySelect{
    /* background-color: #e84a5f70; */
    /* border-radius: 5.5%; */
    /* border-color: #DC3545; */
    /* width: 117px; */
    /* height: 36px; */
    /* color:rgba(233, 236, 239, 0.753); */
    outline: none;
}

.col-pad-center{
    padding-left: 20%;
}

.col-pad-center-right{
    padding-left: 4%;
}

#dataContainer{
    margin-top: 4rem;
    /* margin-bottom: 5rem; */
    max-width: 550px;
    align-items: center;
    margin-left: 25%;
}

#dataContainer-analyse{
    margin-top: 4rem;
    margin-bottom: 5rem;
    max-width: 550px;
    align-items: center;
    margin-left: 35%;
}

#dataContainer-outliers{
    margin-top: 4rem;
    max-width: 550px;
    align-items: center;
    margin-left: 36%;
}

.dataContent{
    /* color: #e84a5f70; */
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
    font-size: 27px;
}

.dataContent11{
    /* color: #e84a5f70; */
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
    font-size: 27px;
    padding-left: 60%;
    margin-left: 60%;
}

.dataContent22{
    /* color: #e84a5f70; */
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
    font-size: 27px;
    padding-left: 20%;
}

.dataContent2{
    /* color: #e84a5f70; */
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
    font-size: 27px;
    padding-left: 0%;
}

.dataContent-index{
    margin-left: 10%;
}

/*  Canvas of state analysis doughnut chart*/
#stateAnalyseContainer{
    /* background-color: red; */
    margin-bottom: 20px;
}
#barChart{
    margin-top: 25%;
}
.col-center{
    padding-left: 9%;
}

.index-col-center{
    padding-left: 25%;
}

.index-col-center1{
    padding-left: 30%;
}

.col-center-head{
    padding-left: 20%;
}

.col-center-left{
    padding-left: 5%;
}

#cc1{
    min-width: 300px;
}

#cc2{
    min-width: 300px;
}

#index-pieChart{
    max-width: 500px;
    max-height: 500px;    
}

#analyse-pieChart{
    max-width: 500px;
    max-height: 500px;  
}

.num{
    text-align: left;
    font-size: 1.4rem;
    min-width: 500px;
}

.num-vet{
    padding-left: 5%;
    text-align: left;
    font-size: 1rem;
    min-width: 500px;
}

.green{
    color: rgba(89,178,89,0.9);
}
.red{
    color: rgba(210,80,77,0.9);
}

.grey{
    color: rgb(130,138,145);
}

.tag{
    font-size: 1.2rem;
}

.tag-name{
    min-width: 270px;
}

.only-name{
    min-width: 400px;
}

.less-sz{
    font-size: 15px;
}

.col-center-only{
    padding-left: 5%;
}

#scoreHoriGraph{
    height: 2300px;
}

#horiChart{
    height: 2300px;
}

#HhoriChart{
    height: 500px;
}

#horiChart1{
    height: 500px;
}

#HhoriChart1{
    height: 500px;
}

#horiChart2{
    height: 800px;
}

#HhoriChart2{
    height: 800px;
}

.col-center-head1{
    padding-left: 10%;
}

.inference-index{
    text-align: center;
    font-size: 1.7rem;
}