<%-include("partials/header.ejs")%>

<div include-html="aboutLogo.html"></div>
<div class="container lead">
    <hr>
    <p class="lead">DataWiz <strong>interprets the trends</strong> in dataset, compare the data across the facilities
        and also enabling
        us to find the <strong>outliers</strong> in the data.
    </p>
    <h4 class="heading-4">Datasets Used :~</h4>
    <ul>
        <li>
            Veteran Health Administration Behaviour Health Dataset.
        </li>
        <li>
            COVID-19 Statistics Dataset
        </li>
    </ul>
    <p>
        It's purpose is to help the users to understand the changing pattern of data in <strong> real time </strong>
        graphical and interactive
        manner. This also aims in finding outliers according to the statistics. One-click feature of the app will reduce
        the paperwork, save a lot of time for people who otherwise have to rely on physical efforts in finding the data
        and plotting the statistics. Overall, this application will reduce the trouble of retrieving the updated
        information which might otherwise be done through paperwork.
    </p>
    <br>
    <hr>
    <h4 class="heading-4">Contributors :~</h4>
    <ul>
        <li>
            <pre>Soham Mehta     - IIT2019033</pre>
        </li>
        <li>
            <pre>Tushar Gupta    - IIT2019043</pre>
        </li>
        <li>
            <pre>Utkarsh Gangwar - IIT2019023</pre>
        </li>
        <li>
            <pre>Utkarsh Garg    - IIT2019026</pre>
        </li>
    </ul>
    <hr>
</div>


<%-include("partials/footer.ejs")%>