<%-include("../partials/header.ejs")%>
<div class="main-content">
    <div class="container" id="drpdwnCont">
        <select name="state" id="stateSel" class="mySelect">
            <option value="" selected="selected">Total</option>
        </select>
    </div>
    <div class="container" id="dataContainer-analyse">
        <table>
            <tr class="dataContent">
                <td class="tag tag-name">Total Confirmed </td>
                <td class="tag">: </td>
                <td class="num grey" id="confirmCs"></td>
            </tr>
            <tr class="dataContent">
                <td class="tag tag-name">Total Recoveries </td>
                <td class="tag">: </td>
                <td class="num green" id="recoveries"></td>
            </tr>
            <tr class="dataContent">
                <td class="tag tag-name">Total Deceased</td>
                <td class="tag">: </td>
                <td class="num red" id="deaths"></td>
            </tr>
            <tr class="dataContent">
                <td class="tag tag-name">Total Active </td>
                <td class="tag">: </td>
                <td class="num grey" id="activeCs"></td>
            </tr>
            <tr class="dataContent">
                <td class="tag tag-name">Recovery Rate </td>
                <td class="tag">: </td>
                <td class="num grey" id="RecovRt"></td>
            </tr>
            <tr class="dataContent">
                <td class="tag tag-name">Death Rate </td>
                <td class="tag">: </td>
                <td class="num grey" id="DeathRt"></td>
            </tr>
        </table>
    </div>

    <div class="container" id="stateAnalyseContainer">
        <div class="row">
            <div class="col-6">
                <div class="container" id="totalChart">
                    <canvas id="pieChart"></canvas>
                </div>
            </div>
            <div class="col-6">
                <div class="container" id="rateChart">
                    <canvas id="barChart"></canvas>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.min.js"></script>
<script src="/javascripts/covid/covidAPI_state.js"></script>
<%-include("../partials/footer.ejs")%>