<%-include("../partials/header.ejs")%>
<div class="main-content">
    <div class="container" id="stateAnalyseContainer">
        <div class="row">
            <div class="col-6">
                <div class="container" id="drpdwnCont1">
                    <select name="state" id="stateSel1" class="mySelect">
                        <option value="" selected="selected">Total</option>
                    </select>
                </div>
            </div>
            <div class="col-6">
                <div class="container" id="drpdwnCont2">
                    <select name="state" id="stateSel2" class="mySelect">
                        <option value="" selected="selected">Total</option>
                    </select>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-6 col-pad-center">
            <table>
                <tr class="dataContent">
                    <td class="tag tag-name">Total Confirmed </td>
                    <td class="tag">: </td>
                    <td class="num" id="confirmCs1"></td>
                </tr>
                <tr class="dataContent">
                    <td class="tag tag-name">Total Recoveries </td>
                    <td class="tag">: </td>
                    <td class="num green" id="recoveries1"></td>
                </tr>
                <tr class="dataContent">
                    <td class="tag tag-name">Total Deceased </td>
                    <td class="tag">: </td>
                    <td class="num red" id="deaths1"></td>
                </tr>
                <tr class="dataContent">
                    <td class="tag tag-name">Total Active </td>
                    <td class="tag">: </td>
                    <td class="num" id="activeCs1"></td>
                </tr>
                <tr class="dataContent">
                    <td class="tag tag-name">Recovery Rate </td>
                    <td class="tag">: </td>
                    <td class="num" id="RecovRt1"></td>
                </tr>
                <tr class="dataContent">
                    <td class="tag tag-name">Death Rate </td>
                    <td class="tag">: </td>
                    <td class="num" id="DeathRt1"></td>
                </tr>
            </table>
        </div>
        <div class="col-6 col-pad-center-right">
            <table>
                <tr class="dataContent">
                    <td class="tag tag-name">Total Confirmed </td>
                    <td class="tag">: </td>
                    <td class="num" id="confirmCs2"></td>
                </tr>
                <tr class="dataContent">
                    <td class="tag tag-name">Total Recoveries </td>
                    <td class="tag">: </td>
                    <td class="num green" id="recoveries2"></td>
                </tr>
                <tr class="dataContent">
                    <td class="tag tag-name">Total Deceased </td>
                    <td class="tag">: </td>
                    <td class="num red" id="deaths2"></td>
                </tr>
                <tr class="dataContent">
                    <td class="tag tag-name">Total Active </td>
                    <td class="tag">: </td>
                    <td class="num" id="activeCs2"></td>
                </tr>
                <tr class="dataContent">
                    <td class="tag tag-name">Recovery Rate </td>
                    <td class="tag">: </td>
                    <td class="num" id="RecovRt2"></td>
                </tr>
                <tr class="dataContent">
                    <td class="tag tag-name">Death Rate </td>
                    <td class="tag">: </td>
                    <td class="num" id="DeathRt2"></td>
                </tr>
            </table>
        </div>
    </div>

    <br>
    <br>
    <br>

    <div class="container" id="stateAnalyseContainer">
        <div class="row">
            <div class="col-6">
                <div class="container" id="totalChart">
                    <canvas id="radarChart"></canvas>
                </div>
            </div>
            <div class="col-6">
                <div class="container" id="deltaChart">
                    <canvas id="RradarChart"></canvas>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <div class="container" id="rates1">
                    <canvas id="bbarChart"></canvas>
                </div>
            </div>
            <div class="col-6">
                <div class="container" id="rates2">
                    <canvas id="BbarChart"></canvas>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.min.js"></script>
<script src="/javascripts/covidAPI_compare.js"></script>
<%-include("../partials/footer.ejs")%>