<%-include("../partials/header.ejs")%>
<div class="main-content">
    <div class="row">
        <div class="col-12">
            <div class="container col-center-only" id="dataContainer-outliers">
                <p class="dataContent only-name">Recovery Rate Outliers</p>
            </div>
            <div class="container">
                <div class="container col-center" id="recoveryRateOutliersGraph">
                    <canvas id="bubbleChart"></canvas>
                </div>
            </div>
        </div>
    </div>

    <br>
    <br>
    <br>
    <div class="row">
        <div class="col-12">
            <div class="container col-center-only" id="dataContainer-outliers">
                <p class="dataContent only-name">Death Rate Outliers</p>
            </div>
            <div class="container">
                <div class="container col-center" id="deathRateOutliersGraph">
                    <canvas id="BbubbleChart"></canvas>
                </div>
            </div>
        </div>
    </div>
</div>
<br>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.min.js"></script>
<script src="/javascripts/covidAPI_outliers.js"></script>
<%-include("../partials/footer.ejs")%>