<%-include("../partials/header.ejs")%>
<div class="main-content">
    <div class="row">
        <div class="col-12">
            <div class="container">
                <div class="container " id="activeGraph">
                    <canvas id="horiChart1"></canvas>
                </div>
            </div>
            <br>
            <br>

            <div class="container">
                <div class="container " id="deceasedHoriGraph">
                    <canvas id="HhoriChart1"></canvas>
                </div>
            </div>
            <br>
            <br>
        </div>
    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.min.js"></script>
<script src="/javascripts/covid/covidAPI_top.js"></script>
<%-include("../partials/footer.ejs")%>