<%-include("../partials/header.ejs")%>
<div class="main-content">
    <br>
    <div class="container" id="stateAnalyseContainer">
        <div class="row">
            <div class="col-6">
                <div class="container" id="drpdwnCont11">
                    <select name="facility" id="facilitySel1" class="mySelect">
                        <option value="" selected="selected">--Select--</option>
                    </select>
                </div>
            </div>
            <div class="col-6">
                <div class="container" id="drpdwnCont2">
                    <select name="facility" id="facilitySel2" class="mySelect">
                        <option value="" selected="selected">--Select--</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
    <br>
    <br>
    <div class="row">
        <div class="col-6 col-center-left">
            <table>
                <tr class="dataContent">
                    <td class="tag tag-name">Country </td>
                    <td class="tag">: </td>
                    <td class="num less-sz grey" id="country1"></td>
                </tr>
                <tr class="dataContent">
                    <td class="tag tag-name">State </td>
                    <td class="tag">: </td>
                    <td class="num less-sz grey" id="state1"></td>
                </tr>
                <tr class="dataContent">
                    <td class="tag tag-name">City </td>
                    <td class="tag">: </td>
                    <td class="num less-sz grey" id="city1"></td>
                </tr>

                <tr class="dataContent">
                    <td class="tag tag-name">Condition </td>
                    <td class="tag">: </td>
                    <td class="num less-sz grey" id="condition1"></td>
                </tr>
                <tr class="dataContent">
                    <td class="tag tag-name">Measure Name </td>
                    <td class="tag">: </td>
                    <td class="num less-sz grey" id="measure1"></td>
                </tr>
                <tr class="dataContent">
                    <td class="tag tag-name">Samples </td>
                    <td class="tag">: </td>
                    <td class="num less-sz green" id="samples1"></td>
                </tr>
            </table>
        </div>
        <div class="col-6 col-pad-center-right">
            <table>
                <tr class="dataContent">
                    <td class="tag tag-name">Country </td>
                    <td class="tag">: </td>
                    <td class="num less-sz grey" id="country2"></td>
                </tr>
                <tr class="dataContent">
                    <td class="tag tag-name">State </td>
                    <td class="tag">: </td>
                    <td class="num less-sz grey" id="state2"></td>
                </tr>
                <tr class="dataContent">
                    <td class="tag tag-name">City </td>
                    <td class="tag">: </td>
                    <td class="num less-sz grey" id="city2"></td>
                </tr>

                <tr class="dataContent">
                    <td class="tag tag-name">Condition </td>
                    <td class="tag">: </td>
                    <td class="num less-sz grey" id="condition2"></td>
                </tr>
                <tr class="dataContent">
                    <td class="tag tag-name">Measure Name </td>
                    <td class="tag">: </td>
                    <td class="num less-sz grey" id="measure2"></td>
                </tr>
                <tr class="dataContent">
                    <td class="tag tag-name">Samples </td>
                    <td class="tag">: </td>
                    <td class="num less-sz green" id="samples2"></td>
                </tr>
            </table>
        </div>
    </div>


    <div class="container" id="stateAnalyseContainer">
        <div class="row">
            <div class="col-6">
                <div class="container" id="samples">
                    <canvas id="barChart1"></canvas>
                </div>
            </div>
            <div class="col-6">
                <div class="container" id="score">
                    <canvas id="barChart2"></canvas>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.min.js"></script>
<script src="/javascripts/veteran/veteranAPI_compare.js"></script>
<%-include("../partials/footer.ejs")%>