<%-include("../partials/header.ejs")%>
<div class="main-content">
    <div class="row">
        <div class="col-12">
            <div class="container col-center-head" id="dataContainer">
                <p class="dataContent" id="cc1">Score Outliers</p>
            </div>
            <div class="container">
                <div class="container col-center" id="scoreOutliersGraph">
                    <canvas id="bubbleChart"></canvas>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="container col-center-head" id="dataContainer">
                <p class="dataContent" id="cc2">Sample Outliers</p>
            </div>
            <div class="container">
                <div class="container col-center" id="sampleOutliersGraph">
                    <canvas id="BbubbleChart"></canvas>
                </div>
            </div>
        </div>
    </div>
</div>
<br>
<br>
<br>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.min.js"></script>
<script src="/javascripts/veteranAPI_outliers.js"></script>
<%-include("../partials/footer.ejs")%>